body {
    font-family: sans-serif;
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 0;
}

#root {
    background-color: darkblue;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

label {
    display: block;
}

button {
    align-self: center;
    border: 1px solid;
    border-radius: 5px;
    background-color: black;
    color: white;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

#cv {
    margin: 0 auto;
    align-items: center;
    width: 80vw;
    height: 100vh;
    background-color: beige;
}

.skill {
    height: fit-content;
    width: fit-content;
    padding: .5em;
    border-radius: 5px;
    background-color: yellowgreen;
}

#top, #middle, #bottom {
    display: block;
    margin-bottom: 2em;
    width: inherit;
    height: fit-content;
    align-items: center;
}

#top {
    display: flex;
    justify-content: space-between;
}

#contact-info {
    width: fit-content;
}

#middle {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
}

#bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}