body {
    font-family: sans-serif;
    box-sizing: border-box;
    justify-content: center;
    background-color: beige;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    display: flex;
}

label {
    display: block;
}

#top {
    display: flex;
    justify-content: space-between;
}

#middle {
    width: 80vw;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    border: 5px solid red;
}