body {
    font-family: sans-serif;
    box-sizing: border-box;
    justify-content: center;
    background-color: beige;
}

li {
    display: flex;
}

#top {
    display: flex;
    justify-content: space-between;
}